Service:
  RegionId: cn-hangzhou
  DeployType: ros
  OperationMetadata:
    StatusOperationConfigs:
    - TemplateName: ECS单机版
      SupportOperations:
      - Start
      - Stop
      - Restart
    SupportBackup: true
    ModifyParametersConfig:
    - TemplateName: ECS单机版
      Operation:
      - Name: 变更ECS实例规格
        Description: 变更ECS实例规格
        Type: Custom
        Parameters:
        - EcsInstanceType
      - Name: 变更ECS实例密码
        Description: 变更ECS实例密码
        Type: Custom
        Parameters:
        - InstancePassword
    ParameterConfigs:
    - TemplateName: 'ECS单机版'
      Parameters:
        CODE_SERVER_PASSWORD:
          Type: String
          Label: CodeServer服务登录密码
          Default: ''
          Required: true
      Metadata:
        ParameterGroups:
        - Parameters:
          - CODE_SERVER_PASSWORD
          DefaultEnvFilePath: ../.env
          Formatter: env
          Name: Default
  UpgradeMetadata:
    Description: 升级
    SupportUpgradeFromVersions: []
    SupportRollback: true
    UpgradeComponents:
    - Configuration
    - Resource
  DeployMetadata:
    SupplierDeployMetadata:
      SupplierTemplateConfigs:
      - Name: ECS单机版
        Url: 'ros_templates/template.yaml'
        ArchitectureDiagramUrl: 'resources/architecture/architecture.jpg'
        AllowedRegions:
        - ap-southeast-1
      ArtifactRelation:
        ecs_image_quickstart-code-server:
          ArtifactId: ${Artifact.EcsImage.ArtifactId}
          ArtifactVersion: draft
    TemplateConfigs:
    - Name: ECS单机版
      Url: 'ros_templates/template.yaml'
      ArchitectureDiagramUrl: 'resources/architecture/architecture.jpg'
      AllowedRegions:
      - ap-southeast-1
  ServiceType: private
  ServiceInfo:
    # 英文版可以再配置Locale为en-US的服务信息
  - Locale: zh-CN
    Name: CedeServer社区版
    ShortDescription: Code Server 是一个开源项目，它允许你在远程服务器或云环境中运行 Visual Studio Code（VS
      Code），并通过浏览器访问和使用它。简单来说，Code Server 就是 VS Code 的“网页版”，让你可以在任何设备、任何地方通过浏览器编写代码，而无需在本地安装完整的开发环境。
    Image: 
      https://service-info-public.oss-cn-hangzhou.aliyuncs.com/1853370294850618/service-image/5ace9c74-8969-4755-8de4-f0982b46f5e1.jpg
    Softwares: []
Artifact:
  EcsImage:
    ArtifactType: EcsImage
    ArtifactName: ecs_image_quickstart-code-server
    Description: quickstart-code-server EcsImage
    SupportRegionIds:
    - ap-southeast-1
    ArtifactBuildProperty:
      CodeRepo:
        Platform: github
        Owner: Alicloud-ComputeNest
        RepoName: aliyun-computenest/quickstart-code-server
        Branch: main
      RegionId: ap-southeast-1
      CommandType: RunShellScript
      SystemDiskSize: 40
      CommandContent: |-
        mkdir -p /root/application
        if [ -e "/root/code/config" ]; then cp -r "/root/code/config" "/root/application/"; fi
        if [ -e "/root/code/project" ]; then cp -r "/root/code/project" "/root/application/"; fi
        if [ -e "/root/code/docker-compose.yaml" ]; then cp -r "/root/code/docker-compose.yaml" "/root/application/"; fi
        if [ -e "/root/code/.env" ]; then cp -r "/root/code/.env" "/root/application/"; fi
        cd /root/application
        sed -i 's/pull_policy: always/pull_policy: if_not_present/g' docker-compose.yaml
        docker compose -f docker-compose.yaml build 
        docker compose -f docker-compose.yaml pull 2>&1 | stdbuf -oL grep -viE 'Downloading|sha256|extracting|KiB|Downloaded' || true;
